/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Poppins', sans-serif; /* Tüm uygulama için varsayılan font */
  background-color: #0f0c29; /* Koyu mavi-mor degrade arka plan */
  background-image: linear-gradient(315deg, #0f0c29 0%, #302b63 74%);
  color: #f0e4ff; /* Açık mor tonlarında metin rengi */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Adjusting for mobile devices */
@media (max-width: 768px) {
  .Calculator {
    flex-direction: column; /* Stack elements vertically */
    padding: 10px; /* Reduce padding for smaller screens */
  }
  .calculator-header, .calculator-table {
    width: 100%; /* Full width for smaller screens */
    height: auto; /* Adjust height to content */
  }
  .calculator-header img {
    width: 80px; /* Smaller logo size */
  }
  .header-text {
    font-size: 1.2rem; /* Adjust text size */
  }
}
